.containerContent {
  width: 100%;
  height: 100vh;
  background-image: url(./bg1.png);
  background-size: cover;
}

.bgColor {
  background-color: rgba(42, 38, 61, 0.82);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.buttonBack {
  z-index: 1;
  box-sizing: border-box;
  border: 5px #fcb371;
  display: flex;
  width: 100%;
}

.buttonBack img {
  margin-left: 150px;
  margin-bottom: 150px;
  margin-top: -150px;
}

.wrapAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contentTitle {
  left: 540px;
  right: 541px;
  top: 171px;
  bottom: 465px;

  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 84px;
  text-align: center;

  color: #fcb371;
  margin-bottom: 120px;
}

.content {
  width: 768px;
  height: 190px;
  left: 256px;
  top: 301px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  text-align: center;

  color: #ffffff;
  margin-top: 20px;
}

.first {
  z-index: 4;
}

@media only screen and (max-width: 1024px) {
  .contentTitle {
    margin-bottom: 50px;
  }

  .content {
    width: 50%;
    margin-bottom: 100px;
    letter-spacing: 1mm;
  }
}

@media only screen and (max-width: 912px) {
  .contentTitle {
    font-size: 50px;
    margin-top: -120px;
  }
  .content {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 150px;
  }
  .buttonBack img {
    height: 50px;
    margin-left: 80px;
    margin-top: -120px;
  }
}

@media only screen and (max-width: 540px) {
  .containerContent {
    /* margin-bottom: 100px; */
  }

  .contentTitle {
    font-size: 30px;
    margin-top: -450px;
  }
  .content {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .buttonBack img {
    height: 30px;
    margin-left: 50px;
    margin-top: -200px;
    margin-bottom: 350px;
  }
}

@media only screen and (max-width: 420px) {
  .contentTitle {
    font-size: 35px;
    margin-top: -170px;
  }
  .content {
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 280px;
    letter-spacing: 0mm;
  }
  .buttonBack img {
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 393px) {
  .contentTitle {
    font-size: 30px;
    margin-top: -150px;
  }
  .content {
    font-size: 15px;
    margin-top: -20px;
    letter-spacing: 0mm;
  }
  .buttonBack img {
    height: 30px;
    margin-left: 40px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 280px) {
  .contentTitle {
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .content {
    font-size: 11px;
    margin-top: 1px;
    letter-spacing: 0mm;
  }

  .buttonBack img {
    height: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -120px;
  }
}
