* {
  margin: 0%;
  padding: 0%;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-color {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(42, 38, 61, 0.82);
}

.wrap-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  padding-top: 120px;
  padding-bottom: 50px;
  z-index: 1;
}

.kata {
  font-family: "Pacifico", cursive;
  font-size: 61px;
  margin-bottom: 30px;
  z-index: 1;
}
.better {
  color: #ffffff;
}
.travel {
  color: #fcb371;
  margin-left: 35px;
}

.cheap {
  color: #ffffff;
  size: 14px;
  margin-bottom: 60px;
  z-index: 1;
}

.button1 {
  display: flex;
  flex-direction: row;
  z-index: 1;
  text-decoration: none;
}

.button1 a {
  transition: ease-in 0.2s;
}

.button1:hover a {
  transform: scale(1.5);
  transition: 1s;
  opacity: 0.2;
  filter: blur(5px);
}

.button1 a:hover {
  text-transform: uppercase;
  transform: scale(1.5);
  opacity: 2;
  filter: blur(0px);
  transition: 0.5s;
}

.about {
  box-sizing: border-box;
  border: 2px solid #fcb371;
  border-radius: 6px;
  color: #fcb371;
  font-size: 12px;
  padding: 12px 53px 13px 53px;
  font-family: "Pacifico", cursive;
  margin-right: 6.5px;
  color: #fcb371;
  text-decoration: none;
}

.reser {
  box-sizing: border-box;
  background: #fcb371;
  border-radius: 6px;
  font-size: 12px;
  padding: 12px 53px 13px 53px;
  font-family: "Pacifico", cursive;
  margin-left: 6.5px;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 1030px) {
  .kata {
    font-size: 50px;
  }
}

@media only screen and (max-width: 912px) {
  .img img {
    width: 250px;
  }

  .wrap-text {
    height: 100%;
    margin-top: -20px;
    padding-bottom: 50px;
  }
  .kata {
    font-size: 50px;
  }

  .button1 .about {
    font-size: 20px;
  }
  .button1 .reser {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .wrap-text {
    height: 100%;
    margin-top: -0px;
  }

  .kata {
    font-size: 40px;
  }
}

@media only screen and (max-width: 908px) {
  .wrap-text {
    height: 100%;
    padding-top: 10px;
  }

  .kata {
    font-size: 30px;
  }
}

@media only screen and (max-width: 540px) {
  .img img {
    width: 130px;
  }

  .wrap-text {
    height: 100%;
    padding-bottom: 50px;
  }

  .kata {
    font-size: 40px;
  }

  .kata .travel {
    margin-left: 20px;
  }

  .button1 .about {
    font-size: 15px;
  }

  .button1 .reser {
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .img img {
    width: 100px;
  }
  .wrap-text {
    height: 100%;
    padding-top: 80px;
  }
  .img {
    margin-top: 20px;
  }

  .kata {
    font-size: 30px;
  }
  .button1 .about {
    font-size: 9px;
  }
  .button1 .reser {
    font-size: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .img {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 320px) {
  .wrap-text {
    height: 100%;
    padding-top: 80px;
  }
  /* .button1 .about {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button1 .reser {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
  } */
}

@media only screen and (max-width: 280px) {
  .kata {
    font-size: 30px;
  }

  /* .button1 .about {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button1 .reser {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
  } */
}
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
